body {
    background-color: rgb(255, 255, 255);
}
h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
}
/* Css untuk table */
table {
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin: 5px auto;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    padding: 8px 16px;
  }
  
  th {
    background-color: #f2f2f2;
    
  }
  @media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    th, td {
      width: 100%!important;
    }
    th {
      background-color: #f2f2f2;
    }
  }
  /* End table */
  
  /* Logout */
  .logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px 10px;
    background-color: rgb(8, 180, 248);
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  .logout:hover{
    background-color: blue;
  }
  /* End logout */

  /* Loader */
.loader {
    width: 100px;
    position: absolute;
    top: 115px;
    left: 280px;
    z-index: -1;
    display: none;
}
/* End loader */

/* CSS tambah alat */
.tambah {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(8, 180, 248);
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
  }
  .tambah:hover {
    background-color: blue;
  }
  .form-tambah {
    width: 300px;
    height: 430px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-tambah label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
  }
  
  .form-tambah input[type="text"],
  .form-tambah input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-tambah input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(8, 180, 248);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  .form-tambah input[type="file"] {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-tambah input[type="submit"]:hover {
    background-color: blue;
  }
  /* End Tambah */
  
  /* Ubah data */
  .form-ubah {
    width: 400px;
    height: 475px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-ubah label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
  }
  
  .form-ubah input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-ubah input[type="file"] {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .form-ubah button {
    margin-bottom: 10px;
  }
  /* End ubah */

  /* Login */
  .form-login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-login label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
  }
  
  .form-login input[type="text"],
  .form-login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-login input[type="checkbox"]{
    margin-top: 0;
    margin-right: 50px;
    top: 243px;
    left: 600px;
    position: absolute;
  }
  .form-login button {
    width: 100%;
    padding: 10px;
    background-color: rgb(8, 180, 248);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .form-login button[type="submit"]:hover {
    background-color: blue;
  }
  /* End login */

  /* Registrasi */
  .form-registrasi {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-registrasi label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
  }
  
  .form-registrasi input[type="text"],
  .form-registrasi input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-registrasi button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(8, 180, 248);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .form-registrasi button:hover {
    background-color: blue;
  }
  /* End registrasi */
@media print {
    .logout, .tambah, .form-cari, .aksi{
        display: none;
    }
}